body {
  height: 100%;
  margin-bottom: 3rem;
}
  
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.container {
  padding-bottom: 8rem;
}

#div-messagerie{
  min-height: 400px;
  max-height: 630px;
}

#test{
  min-height: 400px;
  max-height: 630px;
}

#messagerie-padding {
  max-height: 430px;
}


#messagerie-padding{
  overflow-y: auto;
}

#messagerie-padding::-webkit-scrollbar {
  display: none;
}

.liens-messagerie{
  text-decoration: none;
  color: black;
}

#messagerie-padding > * {
  padding-right: 5px!important;
  padding-left: 5px!important;
}

#messagerie-padding .col-2, #messagerie-padding .col-10 {
  padding-left: 0px;
  padding-right: 0px;
}

.taille-date{
  color: #828282;
  font-size: 0.6rem;
  margin-left: 5px!important;
}

#div-message{
  max-height: 65px;
}

#div-message-gros-plan{
  background-color: #e0ebff;
}

.button-hidden{
  border-radius: 10px;
}

.couleur{
  box-shadow: 0px 0px 6px 2px rgb(216, 168, 11);
}

button.bg-success:focus {
  outline: 0;
  background-color: #28a745!important;
}
button.bg-primary:focus {
  outline: 0;
  background-color: #007bff!important;
}

.cloche-messagerie{
  color: rgb(185, 44, 44);
}

#div-newMessage{
  position: sticky;
  bottom: 0;

}

#div-textarea-button-messagerie{
  position: relative;
}

#submit-button-messagerie{
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#newMessage::-webkit-scrollbar {
  display: none;
}

.test::after, .test:active, .test:focus{
  outline:none;
}

.lien, .lien:hover {
  text-decoration: none;
  color: black;
}

.t {
  border: 1px solid black;
  background-color: white;
  border-radius: 0%;
}

.t:hover, .t:focus {
  background-color: rgb(181, 226, 213);
  box-shadow: none;
  border: none;
  border-radius: 0%;
}